# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
.pnp/
.pnp.js

# Build output
dist/
build/

# dotenv environment variables
.env

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Git
.git/
